{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %} Sign Up - She Knows Network{% endblock %}


{% block content %}


	<section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Create an account</h1>
                            </div>

                            <form method="POST" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                <div class="errors-ui">{{ form.non_field_errors }}</div>
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Your Email</label>
                                    <div class="errors-ui">{{ form.email.errors }}</div>
                                    <div class="input-group">
                                        <!-- <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span> -->
                                        <input type="email" class="form-control" placeholder="example@company.com" id="id_email" name="email" autofocus required>
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Your Password</label>
                                        <div class="errors-ui">{{ form.password1.errors }}</div>
                                        <div class="input-group">
                                            <!-- <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span> -->
                                            <input type="password" placeholder="Password" class="form-control" id="id_password1" name="password1" required>
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="confirm_password">Confirm Password</label>
                                        <div class="errors-ui">{{ form.password2.errors }}</div>
                                        <div class="input-group">
                                            <!-- <span class="input-group-text" id="basic-addon5"><span class="fas fa-unlock-alt"></span></span> -->
                                            <input type="password" placeholder="Confirm Password" class="form-control" id="id_password2" name="password2" required>
                                        </div>  
                                    </div>
                                    <!-- End of Form -->

                                    <div class="mb-4">
                                        <label class="my-1 mr-2" for="user_type">Which User Type Are You?</label>
                                        <div class="errors-ui">{{ form.user_type.errors }}</div>
                                        <select class="form-select" id="id_user_type" name="user_type" aria-label="Default select example">
                                            <option selected>Pick One</option>
                                            <option Value="Professional">Professional</option>
                                            <option value="Partner">Partner</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
                            </form>
 
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Already have an account?
                                    <a href="{% url 'account_login' %}" class="font-weight-bold">Login here</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}