{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %} Choose Request Service - She Knows Network{% endblock %}


{% block content %}



	<section class="vh-lg-100 d-flex align-items-center">
        <div class="container">
            <!-- <h2 class="justify-content-center"> Choose the type of request service you want</h2> -->
            <div class="row justify-content-center form-bg-image" data-background-lg="">
                
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h3 class="mb-0 h3">Free Service</h3>
                        </div>
                        
                        <p>Go  through our professional profiles and make contact directly to the professional.</p>

                        <a class="btn btn-sm btn-secondary" href="/find-professionals">Go >></a>

                    </div>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Paid Service</h1>
                        </div>
                        
                        <p>We will do the search for you so you get the professional you want.</p>

                        <a class="btn btn-sm btn-secondary" href="">Go >></a>

                    </div>
                </div>
            </div>
        </div>
    </section>


   <!--  <section class="vh-lg-100 d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image" data-background-lg="">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Paid Service</h1>
                        </div>
                        
                        <p>We will do the search for you so you get the professional you want.</p>

                    </div>
                </div>
            </div>
        </div>
    </section> -->


{% endblock %}