{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %} Verify Account - She Knows Network{% endblock %}


{% block content %}


	<section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Need Approval</h1>
                            </div>
                            
                            <p>You're not allowed to use this part yet. Kindly talk to support for help on using this part.</p>

                            <!-- <a href="/"> << Go Back </a> -->

                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}