{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %} My Profile - She Knows Network{% endblock %}


{% block content %}


	<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
        
        <a class="navbar-brand mr-lg-5" href="/profile">
            <img class="navbar-brand-dark" src="{% static 'img/skn_logo.png' %}" alt="SKN logo" /> <img class="navbar-brand-light" src="{% static 'img/skn_logo.png' %}" alt="SKN logo" />
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
        
        <div class="container-fluid bg-soft">
            <div class="row">
                <div class="col-12">
                    
        <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse" data-simplebar>
            <div class="sidebar-inner px-4 pt-3">
              <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">

                <div class="collapse-close d-md-none">
                    <a href="" class="fas fa-times" data-toggle="collapse"
                        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                        aria-label="Toggle navigation"></a>
                </div>
              </div>
              <ul class="nav flex-column">
                <li class="nav-item ">
                    <img class="skn-logo-align" src="{% static 'img/skn_logo.png' %}">
                </li>
              </ul><br><br>
              <ul class="nav flex-column">
                <li class="nav-item ">
                  <a href="/profile" class="nav-link">
                      <span class="sidebar-icon"><span class="far fa-user-circle"></span></span>
                      <span>My Profile</span>
                  </a>
                </li>
              </ul>
              <ul class="nav flex-column">
                <li class="nav-item ">
                  <a href="/find-professionals" class="nav-link">
                      <span class="sidebar-icon"><span class="fas fa-user-tie"></span></span>
                      <span>Find Professionals</span>
                  </a>
                </li>
              </ul>
              <ul class="nav flex-column">
                <li class="nav-item ">
                  <a href="/accounts/logout" class="nav-link">
                      <span class="sidebar-icon"><span class="fas fa-sign-out-alt"></span></span>
                      <span>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
        </nav>









                
                    <main class="content">
<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">

    <div class="container-fluid px-0">
      <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
        
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center">


          
        </ul>
      </div>
    </div>
</nav>

                        
                        <div class="row">
                            <div class="col-12 col-xl-8">
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4">Profile</h2>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <div>
                                                    <p>{{profile.profile}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4">Expertise</h2>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <strong>Field Of Expertise</strong>
                                                <div>
                                                    <p>{{profile.field_of_expertise}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <strong>Level Of Expertise</strong>
                                                <div>
                                                    <p>{{profile.level_of_expertise}}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4">CV/Resume</h2>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div>
                                                    <p><a target="_blank" href="{{profile.cv_resume.url}}">View CV/Resume</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                </div>
                            </div>

                            <div class="col-12 col-xl-4">
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <div class="card border-light text-center p-0">
                                            <!-- <div class="profile-cover rounded-top" data-background="../assets/img/profile-cover.jpg"></div> -->
                                            <div class="card-body pb-5">
                                                <img src="{{profile.photo.url}}" class="user-avatar large-avatar rounded-circle mx-auto mb-4" alt="{{profile.first_name}} photo">
                                                <!-- <img src="{{profile.photo.url}}" style='height: 20%; width: 150px; object-fit: contain' > -->
                                                <h4 class="h3">{{profile.first_name}} {{profile.last_name}}</h4>
                                                <h5 class="font-weight-normal">{{profile.job_title}}</h5>
                                                <p class="text-gray mb-4">{{profile.institution}}</p>
                                                <p class="text-gray mb-4">{{profile.country_of_residence.name}}</p>
                                                <!-- <a class="btn btn-sm btn-primary mr-2" href="#"><span class="fas fa-user-plus mr-1"></span> Connect</a> -->
                                                <a class="btn btn-sm btn-secondary" href="">Update Profile</a>
                                            </div>
                                         </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </main>
                </div>
            </div>
        </div>


{% endblock %}